In [62]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv("indeed_ds_jobs.csv")
df = df[df.Salary != "None"]
df

,Title,Company,Location,Link,Review,Salary,Description
0,Data Specialist,Eutility Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$55,000 - $60,000 a year",Data Specialist\nPython : VBA : Tableau\nData ...
2,Data Scientist,Department of Justice and Community Safety,Melbourne City Centre VIC,https://au.indeed.com/rc/clk?jk=a1042d7e16229a...,3.4,"$122,502 - $163,934 a year",Utilise your experience standing up and leadin...
6,Data Analyst,Publicis Communications,Southbank VIC,https://au.indeed.com/company/Publicis-Communi...,None,"$70,000 - $80,000 a year","Company description\nHeadquartered in Berlin, ..."
15,SQL Analyst Programmer (Full-Time),Results Direct Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$75,000 - $90,000 a year","Immediate start\nPermanent, Full Time position..."
25,LECTURER IN DATA SCIENCE AND STATISTICS,University of Melbourne,Parkville VIC,https://au.indeed.com/rc/clk?jk=3cb41103a342f8...,4.3,"$105,232 - $124,958 a year",Job no: 0051318\nWork type: Fixed Term\nLocati...
...,...,...,...,...,...,...,...
685,Manager | Risk Analytics,PwC,Melbourne VIC,https://au.indeed.com/rc/clk?jk=3844a4ff34e4ca...,4.0,"$100,000 a year",Line of Service\nAdvisory\nIndustry/Sector\nNo...
689,Senior Web Developer,"Tempe tyres and Wheel centre, Tempe",None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,2.3,"$90,000 - $110,000 a year","The Role\nIn this role, you will be required t..."
690,Chief Technology Officer,Digital Services Australia IV pty ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$144,962 - $160,000 a year",Chief Technology Officer\nOfload is a digital ...
717,Fullstack Software Engineer,Drive Yello,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$80,000 - $100,000 a year",This is your chance to be part of an exciting ...
732,PhD Scholarship - Genetic and Physiological Ch...,CSIRO,Narrabri NSW,https://au.indeed.com/rc/clk?jk=856ad7d3973731...,4.1,"$30,000 a year",Are you passionate about increasing the produc...

In [64]:
salary = df['Salary'].apply(lambda x: x.split('a')[0])
remove_sign = salary.apply(lambda x: x.replace('$', ''))
salary_formatted = remove_sign.apply(lambda x: x.replace(',', '').replace(' ', ''))
df['Minimum Salary'] = salary_formatted.apply(lambda x: float((x.split('-'))[0]))
df['Maximum Salary'] = salary_formatted.apply(lambda x: float((x.split('-'))[-1]))
df['Average Salary'] = (df['Minimum Salary'] + df['Maximum Salary']) / 2
df

,Title,Company,Location,Link,Review,Salary,Description,Minimum Salary,Maximum Salary,Average Salary
0,Data Specialist,Eutility Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$55,000 - $60,000 a year",Data Specialist\nPython : VBA : Tableau\nData ...,55000.0,60000.0,57500.0
2,Data Scientist,Department of Justice and Community Safety,Melbourne City Centre VIC,https://au.indeed.com/rc/clk?jk=a1042d7e16229a...,3.4,"$122,502 - $163,934 a year",Utilise your experience standing up and leadin...,122502.0,163934.0,143218.0
6,Data Analyst,Publicis Communications,Southbank VIC,https://au.indeed.com/company/Publicis-Communi...,None,"$70,000 - $80,000 a year","Company description\nHeadquartered in Berlin, ...",70000.0,80000.0,75000.0
15,SQL Analyst Programmer (Full-Time),Results Direct Pty Ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$75,000 - $90,000 a year","Immediate start\nPermanent, Full Time position...",75000.0,90000.0,82500.0
25,LECTURER IN DATA SCIENCE AND STATISTICS,University of Melbourne,Parkville VIC,https://au.indeed.com/rc/clk?jk=3cb41103a342f8...,4.3,"$105,232 - $124,958 a year",Job no: 0051318\nWork type: Fixed Term\nLocati...,105232.0,124958.0,115095.0
...,...,...,...,...,...,...,...,...,...,...
685,Manager | Risk Analytics,PwC,Melbourne VIC,https://au.indeed.com/rc/clk?jk=3844a4ff34e4ca...,4.0,"$100,000 a year",Line of Service\nAdvisory\nIndustry/Sector\nNo...,100000.0,100000.0,100000.0
689,Senior Web Developer,"Tempe tyres and Wheel centre, Tempe",None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,2.3,"$90,000 - $110,000 a year","The Role\nIn this role, you will be required t...",90000.0,110000.0,100000.0
690,Chief Technology Officer,Digital Services Australia IV pty ltd,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$144,962 - $160,000 a year",Chief Technology Officer\nOfload is a digital ...,144962.0,160000.0,152481.0
717,Fullstack Software Engineer,Drive Yello,None,https://au.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,"$80,000 - $100,000 a year",This is your chance to be part of an exciting ...,80000.0,100000.0,90000.0
732,PhD Scholarship - Genetic and Physiological Ch...,CSIRO,Narrabri NSW,https://au.indeed.com/rc/clk?jk=856ad7d3973731...,4.1,"$30,000 a year",Are you passionate about increasing the produc...,30000.0,30000.0,30000.0

In [65]:
def position(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data science' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'software engineer' in title.lower():
        return 'software engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'analytics' in title.lower():
        return 'analyst'
    elif 'data specialist' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning expert'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'research' in title.lower():
        return 'researcher'
    elif 'researcher' in title.lower():
        return 'researcher'
    else:
        return 'na'

In [66]:
df['Position'] = df['Title'].apply(position)
df['Position'].value_counts()

na                         74
researcher                 28
analyst                    24
data scientist             13
software engineer           8
manager                     6
data engineer               4
machine learning expert     3
Name: Position, dtype: int64